<!DOCTYPE html>
<style>
  .card {
    margin-bottom: 20px; /* Añade un margen inferior de 20px a cada tarjeta */
  }
</style>
<body>
  <div class="container mt-4">
    <h1 class="mb-3">Bienvenido {{ rol }}</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sucursales</h4>
            <p class="card-text">Configura la información de tu gimnasio</p>
            <a class="btn btn-gym" routerLink="../lista-sucursales">Configurar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Membresias</h4>
            <p class="card-text">Configura las membresias de tu gimnasio</p>
            <a class="btn btn-gym" routerLink="../listaMembresias">Configurar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Colaboradores</h4>
            <p class="card-text">
              Configura la información de tus colaboradores
            </p>
            <a class="btn btn-gym" routerLink="../colaboradores">Configurar</a>
          </div>
        </div>
      </div>
      <br/>
      

      <br/>
 

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Administrar productos</h4>
            <p class="card-text">
              Configura la información de tus productos
            </p>
            <a class="btn btn-gym" routerLink="../gestion-productos">Configurar</a>
          </div>
        </div>
      </div>
    </div>
    <br />

    <!-- <h3>Mi plan adquirido</h3>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Beneficios de tu plan</h5>
            <p class="card-text">Area de peso libre y peso integrado</p>
            <br />
            <p>Acceso ilimitado</p>
            <br />

            Sin multa por cancelación
          </div>
          <a class="btn btn-gym">Detalles</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tu gimnasio</h5>
            <p class="card-text">Las hadas</p>
            Av. de las torres # 45 Colonia las hadas Puebla Puebla
          </div>
          <a class="btn btn-gym">Quieres cambiar de ubicacion?</a>
        </div>
      </div>
    </div> -->

  </div>
</body>
