<div class="container mt-4">
 
  <div style="text-align: right; ">
    <button
      mat-raised-button
      routerLink="../alta-categoria"
      style="background-color: #fd9727; font-size: 16px; "
      
    >
      <mat-icon>add</mat-icon>AGREGAR CATEGORIA
    </button>
  </div>
  <div class="mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de la categoría</mat-label>
      <span matPrefix class="icon_search"><mat-icon>search</mat-icon></span>
      <input
        matInput
        placeholder="Nombre de la categoría"
        #txtSearch
        (keyup)="onSearchPokemon(txtSearch.value)"
      />
    </mat-form-field>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Estatus</th>
          <th scope="col">Fecha Creacion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let categoria of categorias | listarCategoria : page : search"
        >
          <td>{{ categoria.nombre }}</td>
          <td>{{ categoria.descripcion }}</td>
          <td>
            {{ categoria.estatus === "1" ? "Activo" : "Inactivo" }}
          </td>
          <td>{{ categoria.fechaCreacion }}</td>
          <td>
            <button
              mat-icon-button
              color="primary"
              routerLink="/admin/editar-categoria/{{ categoria.idCategoria }}"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: right; margin-bottom: 50px">
      <button mat-icon-button color="primary" (click)="prevPage()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="nextPage()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
