<div class="card flex justify-content-center">
    <p-toast></p-toast>

    <p-fileUpload
      name="files[]"
      url="http://localhost:80/uploadFiles/subir.php?subirImagenes"
      (onUpload)="onUpload($event)"
      [multiple]="true"
      accept="image/*"
      [maxFileSize]="1000000" 
         >
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
  