<br/><br/>
  
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <h2 style="margin-left: 70px;">Sucursales</h2>
    <button mat-raised-button routerLink="/admin/alta-sucursal" style="background-color: #fd9727; font-size: 16px; margin-right: 100px;">
      <mat-icon>add</mat-icon> AGREGAR SUCURSAL
    </button>
  </div>
  
  <br/>
  <div style="margin-left: 70px;color:red;font-size: 20px;">{{message}}</div>
  <form>
    <div style="width: 90%; margin-left: 70px" class="table-container">
      <table mat-table [dataSource]="gimnasio">
        <!-- Título Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let item">{{ item.nombreGym }}</td>
        </ng-container>
        <!-- Detalles Column -->
        <ng-container matColumnDef="c.p">
          <th mat-header-cell *matHeaderCellDef>Codigo Postal</th>
          <td mat-cell *matCellDef="let item">{{ item.codigoPostal }}</td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let item">{{ item.estado }}</td>
        </ng-container>
        <ng-container matColumnDef="ciudad">
          <th mat-header-cell *matHeaderCellDef>Ciudad</th>
          <td mat-cell *matCellDef="let item">{{ item.ciudad }}</td>
        </ng-container>
        <ng-container matColumnDef="colonia">
          <th mat-header-cell *matHeaderCellDef>Colonia</th>
          <td mat-cell *matCellDef="let item">{{ item.colonia }}</td>
        </ng-container>
        <ng-container matColumnDef="calle">
          <th mat-header-cell *matHeaderCellDef>Calle</th>
          <td mat-cell *matCellDef="let item">{{ item.calle }}</td>
        </ng-container>
        <ng-container matColumnDef="Numero_Exterior">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let item">{{ item.numExt }}</td>
        </ng-container>
        <ng-container matColumnDef="Numero_Interior">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let item">{{ item.numInt }}</td>
        </ng-container>
        <!-- Entrenador Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let item">{{ item.telefono }}</td>
        </ng-container>
        <!-- Duración Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let item">{{ item.tipo }}</td>
        </ng-container>
        <!--<ng-container matColumnDef="cancha">
          <th mat-header-cell *matHeaderCellDef>Horarios</th>
          <td mat-cell *matCellDef="let item">{{ item.horarios }}</td>
        </ng-container>-->
        <ng-container matColumnDef="alberca">
          <th mat-header-cell *matHeaderCellDef>Casilleros</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.casilleros == 1; else noCasilleros">
              Sí
            </ng-container>
            <ng-template #noCasilleros>
              No
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="gimnasio">
          <th mat-header-cell *matHeaderCellDef>Estacionamiento</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.estacionamiento == 1; else noEstacionamiento">
              Sí
            </ng-container>
            <ng-template #noEstacionamiento>
              No
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="IDgimnasio">
          <th mat-header-cell *matHeaderCellDef>Energía</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.energia == 1; else noEnergia">
              Sí
            </ng-container>
            <ng-template #noEnergia>
              No
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="ofertas">
          <th mat-header-cell *matHeaderCellDef>Bicicletero</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.bicicletero == 1; else noBicicletero">
              Sí
            </ng-container>
            <ng-template #noBicicletero>
              No
            </ng-template>
          </td>
        </ng-container>
        
        <!-- Edit and Delete Columns -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let item">
            <mat-icon class="edit-icon" routerLink="/admin/editar-sucursal/{{item.idGimnasio}}">edit</mat-icon>
            <mat-icon class="delete-icon" (click)="borrarSucursal(item.idGimnasio)">delete</mat-icon>
            <a (click)="verHorario(item.idGimnasio)">ver horarios</a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let item; columns: displayedColumns; let i = index"></tr>
      </table> 
    
    
    </div>
   
  </form>
  