<div class="content_body">
    <div class="content_margin">
      <div class="content_grid_padre">
        <div class="content_grid_h1">
          <div class="title_page">
            <h1>Bienvenido cliente</h1>
            <h6>Ingrese sus credenciales</h6>
          </div>
          <!--cierra div title pagina-->
          <div class="form_data">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <p>
                <mat-form-field appearance="outline" class="inputs_css">
                  <mat-label>Email</mat-label>
  
                  <input
                    type="email"
                    matInput
                    placeholder="Email"
                    autocomplete="off"
                    autofocus=""
                    required
                    formControlName="username"
                  />
  
                  <mat-icon matSuffix>alternate_email</mat-icon>
                  <mat-error *ngIf="loginForm.get('username')?.invalid">{{
                    getErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline" class="inputs_css">
                  <mat-label>Contraseña</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    placeholder="Contraseña"
                    formControlName="password"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
  
                  <mat-error *ngIf="loginForm.get('password')?.invalid">
                    Por favor ingresa tu contraseña
                 </mat-error>
                </mat-form-field>
              </p>
              <!-- <p class="txt_a"><a (click)="navegarPagina('olvide-contrasena')" class="txt_link">Olvide mi contraseña</a></p> -->
              <button
                type="submit"
                class="btn_int"
                mat-raised-button
                style="background: #fd9727; color: white"
                [disabled]="loginForm.invalid"
              >
                Ingresar
              </button>
            </form>
          </div>
          <div class="registrate">
            <small
              ><a routerLink="../forgot-password">Olvide mi contraseña</a></small
            >
          </div>
          <!--cierra div texto registrate-->
        </div>
        <!--cierra div content grid hino1 -->
        <div class="content_grid_h2"></div>
        <!--cierra div content grid hijo2 -->
      </div>
      <!--cierra div content grid padre-->
    </div>
    <!--cierra div content_margin-->
  </div>
  <!--cierra div content_body-->
  