/**INICIA PROPIEDADES CONTENIDO DE PAGINA +++++++++++++++++++++++++++++++++++**/

/**propiedades body **/
.body {
    margin: 0;
    position: relative;
    padding-bottom: 139px;
    min-height: 100vh;
}

/**propiedades grid padre contenido**/
.content_grid_padre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

/**PROPIEDADES CONTENEDOR GRID HIJO 1 ................................................**/

/**propiedades grid hijo 1 - centrar contenido**/
.content_grid_h1 {
    margin: auto;
}

/**propiedades etiqueta strong mensaje Registrate**/
strong {
    color: #FD9727;
    font-size: large;
}

/**propiedades inputs**/
.inputs_css {
    width: 350px;
}

/**propiedades text de olvide mi sontraseña**/
.txt_a {
    text-decoration: underline;
}

/**propieades olvide mi contraseña**/
.f_pass {
    text-decoration: underline;
}

/**proíedades btn entrar**/
.btn_int {
    background: #FD9727;
    color: white;
    width: 350px;
    height: 50px;
    font-size: larger;
}

/**propiedades de los iconos google y facebook**/
fa-icon {
    font-size: xx-large;
}

/**propiedades texto Otras opciones de acceso**/
.opciones_acceso {
    padding-top: 40px;
    text-align: center;
    align-content: center;
}

/**propiedades btns acceso redes sociales**/
.btns_redess {
    text-align: center;
    align-content: center;
}

/**propiedades btn redes sociales **/
.btn_social {
    margin: 10px;
}

/**propiedades texto AUN NO TIENES CUENTA - REGISTRARE**/
.registrate {
    padding: 40px 0;
    text-align: center;
    align-content: center;
}

/**INICIA PROPIEDADES CONTENEDOR GRID EHIJO 2**/

/**propiedadess fondo de pantalla contenedor 2**/
.content_grid_h2 {
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/img/img_login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*propiedades de links resgistrate - olvide contraseña*/
.txt_link {
    cursor: pointer;
}


.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
 