
<!--Footer 
<div class="content_footer">
    <footer>
        <div class="grid_fp">
            <div class="grid_fh1">
                <img class="logo_f" src="../../../../../assets/img/logo.jpeg">
                <p class="txt_footer">Derechos reservados 2023</p>
            </div>
            <div class="grid_fh2">
                <legend class="titles_footer">Condiciones de uso</legend>
                <label class="txt_footer">Aviso legal</label>
                <label class="txt_footer">Política de privacidad</label>
            </div>
            <div class="grid_fh3">
                <legend class="titles_footer">Preguntas frecuentes</legend>
                <label class="txt_footer">Centro de ayuda</label>
            </div>
            <div class="grid_fh4">
                <legend class="titles_footer">Tienda en linea</legend>
                <label class="txt_footer">Formas de pago</label>
                <label class="txt_footer">Tiempos de entrega</label>
            </div>
            <div class="grid_fh5">
                <label class="txt_footer_redes">Siguenos en nuestras redes</label>
                <button mat-mini-fab color="primary" class="btn_follow">
                   <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                </button>
                 <button mat-mini-fab color="warn" class="btn_follow">
                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                 </button>
                 <button mat-mini-fab style="background: black;" class="btn_follow">
                   <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
                </button>
            </div>
        </div>
        
    </footer>
</div> -->

<div class="row" style="background: #434343; text-align: center;">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3" style="width: 90%;">
      <div class="col mb-3" style="text-align: center;">
        <img class="logo_f" src="../../../../../assets/img/logo.jpeg">
        <p  id="cr">&copy; OlympusGym 2023</p>
      </div>
  
      <div class="col mb-3">
        <h4>Condiciones de uso</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" id="tag_a">Aviso legal</a></li>
          <li class="nav-item mb-2"><a href="#" id="tag_a">Política de privacidad</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h4>Preguntas frecuentes</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" id="tag_a">Centro de ayuda</a></li>
          <li class="nav-item mb-2"><a href="#" id="tag_a">Devoluciones</a></li>
          <li class="nav-item mb-2"><a href="#" id="tag_a">Contacto</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h4>Tienda en linea</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" id="tag_a">Formas de pago</a></li>
          <li class="nav-item mb-2"><a href="#" id="tag_a">Articulos nuevos</a></li>
          <li class="nav-item mb-2"><a href="#" id="tag_a">Promociones</a></li>
          <li class="nav-item mb-2"><a href="#" id="tag_a">Sucursales</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Enterate... ya nos sigues!!!</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <button mat-mini-fab color="primary" class="btn_follow">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
         </button>

            <button mat-mini-fab color="warn" class="btn_follow">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
             </button>
          
            <button mat-mini-fab style="background: black;" class="btn_follow">
                <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
             </button>
          </li>
        </ul>
      </div>
    </footer>
  </div>