
<!--Footer -->
<div class="content_footer">
    <footer>
        <div class="grid_fp">
            <div class="grid_fh1">
                <img class="logo_f" src="../../../../../assets/img/logo.jpeg">
                <p class="txt_footer">Derechos reservados 2023</p>
            </div>
            <div class="grid_fh2">
                <legend class="titles_footer">Condiciones de uso</legend>
                <label class="txt_footer">Aviso legal</label>
                <label class="txt_footer">Política de privacidad</label>
            </div>
            <div class="grid_fh3">
                <legend class="titles_footer">Preguntas frecuentes</legend>
                <label class="txt_footer">Centro de ayuda</label>
            </div>
            <div class="grid_fh4">
                <legend class="titles_footer">Tienda en linea</legend>
                <label class="txt_footer">Formas de pago</label>
                <label class="txt_footer">Tiempos de entrega</label>
            </div>
            <div class="grid_fh5">
                <label class="txt_footer_redes">Siguenos en nuestras redes</label>
                <button mat-mini-fab color="primary" class="btn_follow">
                   <!-- <fa-icon [icon]="['fab', 'facebook']"></fa-icon> -->
                </button>
                 <button mat-mini-fab color="warn" class="btn_follow">
                   <!-- <fa-icon [icon]="['fab', 'instagram']"></fa-icon> -->
                 </button>
                 <button mat-mini-fab style="background: black;" class="btn_follow">
                   <!-- <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon> -->
                </button>
            </div>
        </div>
        
    </footer>
</div>