*{
    padding: 0;
    margin: 0;
}

/* PROPIEDADES HEADER ----- TOOLBAR ----------------------------- */
/*propiedades de logo toolbar*/
.logo_h {
    width: 35%;
    margin-right: 80px;
  }

  /*propiedades grid padre toolbar*/
.grid_tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*propiedades div img toolbar*/
.tool_logo {
    display: flex;
    align-items: center;
}

/*propioedades toolbar*/
mat-toolbar {
    width: 100%;
    height: 150px;
    background: white;
    border-bottom: #FD9727 solid;
    border-width: 7px;
}

/*propiedades grid body padre*/
.grid_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*propiedades opciones - btn header*/
/* grid -- opciones header */
.tool_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Puedes ajustar la altura según tus necesidades */
}

/*propiedades botones  header - toolbar*/
.btn {
    margin: 10px;
    width: 140px;
    height: 45px;
    border-radius: 15px;
    background: #DF7E54;
    color: black;
}

/*propiedades textos btn header - toolbar*/
.txt_btn_footer {
    font-size: larger;
}

/*propiedades botones toolbar - opciones */
.btn_int {
    margin: 10px;
}

/* propiedades boton contendor de icono toolbar */
.btn_icon_user {
    margin: 10px;
    background: #434343; color: white;
}

/*propiedades menu usuario */
/*propiedades opciones span menu*/
.data_user {
    padding-left: 15px;
}

at-menu {
    border-radius: 15px;
}

/*propiedades links externos*/
.txt_ext_link {
    text-decoration: none;
    color: white;
    font-size: larger;
}



/*propiedades lista////////////////////////////////////////////////////////////////// */
#prueba {
	color: white;
    font-size: medium;
    font-weight: normal;
}

#ops {
    display: flex; 
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    background: #FD9727;
    margin: 10px;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    color: black;
    line-height: 45px; /* Alinea verticalmente */
    text-align: center; /* Centra horizontalmente */
  }

  #op {
    display: flex; 
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    background: #DF7E54;
    margin: 10px;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    color: black;
    line-height: 45px; /* Alinea verticalmente */
    text-align: center; /* Centra horizontalmente */
  }
  

nav {
    border-bottom: #FD9727 solid;
    border-width: 7px;
}

#navbarNav {
    text-align: right;
    padding-right: 15px;
}

.img_logo {
    max-height: 149px;
}

.active {
    font-weight: bold;
    text-decoration: 3px underline #FD9727;
}

.navbar-toggler {
    background: #FD9727;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    position: relative;
    margin: 10px;
  }
  
  .navbar-toggler:hover {
    background-color: #e68a00;
  }
  
  .navbar-toggler mat-icon {
    font-size: 24px;
    vertical-align: middle;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    
  }
  
  .nav-link {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
    position: relative;
  }
  
  .nav-link:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .nav-link:hover {
    color: #FD9727;
  }

  @media (max-width: 991px) {
    #prueba {
        color: rgb(37, 36, 36);
        font-size: medium;
        margin: 0;
    }
    #ops,
    #op {
        display: block;
        align-items: end;
        border-radius: none;
        background: white;
        margin: 0;
        height: 50px;
        border-bottom: 1px solid rgb(212, 212, 212); /* Línea separadora */
        padding-bottom: 3px; /* Espacio entre el borde y el contenido */
        margin-left: auto; 
    }

    .logo_h {
        width: 50%;
        margin-right: 100px;
      }
}


@media (max-width: 360px){
    .logo_h {
        width: 50%
      }
}

