<!--Toolbar
<mat-toolbar>
    <div class="grid_tool">
        <div class="tool_logo">
            <img class="logo_h" src="../../../../../assets/img/logo.jpeg">
        </div>
        <div class="tool_menu">
            <button routerLink="./home" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Inicio</p></button>
            <button routerLink="./listaMembresias" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Membresia</p></button>
             <button routerLink="./colaboradores" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Colaboradores</p></button>
            button routerLink="./perfil" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Perfil</p></button> 
            <button mat-fab title="Cerrar sesión"  (click)="logout()">
                <fa-icon [icon]="['fas', 'power-off']"></fa-icon>
            </button>
        </div>
    </div>
</mat-toolbar>-->


<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
       
            <img src="../../../../../assets/img/logo.jpeg" class="img_logo">
         

      <button mat-fab class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background: #FD9727; color: white;">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" id="ops" >
            <a class="nav-link" id="prueba" routerLink="./home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item" id="ops" >
            <a class="nav-link" id="prueba" routerLink="./listaMembresias" routerLinkActive="active">Membresias</a>
          </li>
          <li class="nav-item" id="ops">
            <a class="nav-link" id="prueba" routerLink="./colaboradores" routerLinkActive="active">Colaboradores</a>
          </li>
          <li class="nav-item" id="ops">
            <a class="nav-link" id="prueba" routerLink="./lista-sucursales" routerLinkActive="active">Sucursales</a>
          </li>
          <li class="nav-item" id="ops">
            <a class="nav-link" (click)="logout()" id="prueba" routerLink="./colaboradores">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>