<div class="container mt-4">
  <h2 class="mb-3">MEMBRESÍAS DISPONIBLES</h2>
<div style="text-align: right; margin-bottom: 50px;">
    <button mat-raised-button routerLink="/admin/membresias" style="background-color: #fd9727; font-size: 16px; margin-right: 100px; "><mat-icon>add</mat-icon>AGREGAR MEMBRESÍAS</button>
  </div>
  <br/>
  <div style="margin-left: 70px;color:red;font-size: 20px;">{{message}}</div>

  <div class="mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de la membresia</mat-label>
      <span matPrefix class="icon_search"><mat-icon>search</mat-icon></span>
      <input matInput placeholder="Nombre de la membresia" #txtSearch (keyup)="onSearchPokemon( txtSearch.value )">
      </mat-form-field>
  </div>

  <form >
    <div  class="table-container">
    <table mat-table [dataSource]="plan | listarMembresia: page: search " >

      <!-- Título Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let item">{{ item.titulo }}</td>
      </ng-container>
      
      <!-- Detalles Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Detalles</th>
        <td mat-cell *matCellDef="let item">{{ item.detalles }}</td>
      </ng-container>
      
      <!-- Entrenador Column -->
      <ng-container matColumnDef="trainer">
        <th mat-header-cell *matHeaderCellDef>Entrenador</th>
        <td mat-cell *matCellDef="let item">{{ item.entrenador }}</td>
      </ng-container>
      
      <!-- Precio Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let item">{{ item.precio }}</td>
      </ng-container>
      
      <!-- Duración Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duración</th>
        <td mat-cell *matCellDef="let item">{{ item.duracion}}</td>
      </ng-container>
  
      <ng-container matColumnDef="cancha">
        <th mat-header-cell *matHeaderCellDef>Cancha</th>
        <td mat-cell *matCellDef="let item">{{ item.canchaAcc}}</td>
      </ng-container>
      <ng-container matColumnDef="alberca">
        <th mat-header-cell *matHeaderCellDef>Alberca</th>
        <td mat-cell *matCellDef="let item">{{ item.albercaAcc}}</td>
      </ng-container>
      <ng-container matColumnDef="gimnasio">
        <th mat-header-cell *matHeaderCellDef>Gimnasio</th>
        <td mat-cell *matCellDef="let item">{{ item.gymAcc}}</td>
      </ng-container>
      <ng-container matColumnDef="IDgimnasio">
        <th mat-header-cell *matHeaderCellDef>ID_gimnasio</th>
        <td mat-cell *matCellDef="let item">{{ item.Gimnasio_idGimnasio}}</td>
      </ng-container>
      <ng-container matColumnDef="ofertas">
        <th mat-header-cell *matHeaderCellDef>Ofertas</th>
        <td mat-cell *matCellDef="let item">{{ item.ofertas}}</td>
      </ng-container>
      <!-- Edit and Delete Columns -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let item">
          <!--<mat-icon class="edit-icon" routerLink="/admin/editarMembresias/{{item.idMem}}">edit</mat-icon>
          <mat-icon class="delete-icon" (click)="borrarPlan(item.idMem)" >delete</mat-icon>-->

          <button mat-icon-button color="primary" routerLink="/admin/editarMembresias/{{item.idMem}}">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="borrarPlan(item.idMem)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let item; columns: displayedColumns; let i = index"></tr>
    </table>
    <div style="text-align: right; margin-bottom: 50px;">
      <button mat-icon-button color="primary" (click)="prevPage()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="nextPage()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
  </form>
<br/><br/><br/><br/>
</div>
  
  
  