<br />
<h1>Gestiona los productos de la franquicia</h1>

<div class="grid-menu" style="justify-content: center">
  <mat-tab-group>
    <mat-tab label="Proveedores">
        <div class="datos">
          <div class="content_margin">
            <app-lista-proveedor></app-lista-proveedor>
          </div>
        </div>
      </mat-tab>
    <mat-tab label="Categorias">
      <div class="datos">
        <div class="content_margin">
          <app-lista-categoria></app-lista-categoria>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Productos">
      <div class="datos">
        <div class="content_margin">
          <app-lista-producto></app-lista-producto>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
